
{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="section">

      <!--   Data Entry Section   -->
      <div class="row ">
        <form method="POST">
        <div class="col s12 m12 l12">
          <div class="card grey darken-3">

            <div class="card-content white-text">
                  <h5 class="col s12 card-title">{{ campaign.name }}</h5>

                {% for question in questions %}
                <div class="row">
                    <div class="input-field col s12">
                        <strong>{{ question.question.name }}</strong>
                    </div>

                    {% for choice in choices %}
                    {% if question.question_id == choice.question_id %}
                    <div class="input-field col s3">
                          <input type="checkbox" id="{{choice.id}}" />
                          <label for="{{choice.id}}">{{ choice.choice.name }}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}

                    <center>
                        <div class="container" >
				            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                    </center>

			  </div>
          </div>
        </div>
        </form>
      </div>
      <!--   Data Entry Section   -->

    </div>
  </div>

{% endblock %}
