{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="section">
      <div class="row">
          <div class="col s12">
            <strong><h5 style="margin: 20px 0px 0px 0px;">Campaigns</h5></strong>
          </div>
        {%  for campaign in campaigns %}

            <div class="col s12 m6 l3">
                <div class="card orange hoverable">
                    <div class="card-content dark">
                        <span class="card-title">{{ campaign.name  | truncate(18, true)}}</span>
                        <p>{{ campaign.name | truncate(150, true) }}</p>
                    </div>
                    <div class="card-action orange">
                        <a href="{{ url_for('campaignDetails', campaign_id=campaign.id)}}" style="color: #020202;">Details</a>
                    </div>
                </div>
            </div>

          {% endfor %}

        </div>
    </div>
  </div>

    <!--div class="fixed-action-btn" style="top: 60px; right: 24px;">
        <a class="btn-floating btn-large red" href="{{ url_for('newCampaign') }}">
            <i class="material-icons">add</i>
        </a>
    </div-->

    <div class="fixed-action-btn horizontal click-to-toggle" style="top: 60px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="{{ url_for('newCampaign') }}"><i class="material-icons">people</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">touch_app</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">assessment</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">poll</i></a></li>
    </ul>
  </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if message == "Idea Posted Successfully!" %}
                <div id="myDiv" class="fixed-action-btn" style="top: 130px; right: 24px;">{{ message }}</div>
            {% endif %}
            {% if message == "You are not Authorized to Deleted this Idea!" %}
                <div id="myDiv" class="fixed-action-btn" style="top: 130px; right: 24px;">{{ message }}</div>
                <!--div id="myDiv" style="top: 150px; right: 24px;" class="fixed-action-btn card lighten-5 z-depth-1">
                    <div class="card-content white-text">
                        <span class="black-text">{{ message }}</span>
                    </div>
                </div-->
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}
