
{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="section">

      <!--   Data Entry Section   -->
      <div class="row ">
        <form method="POST">
        <div class="col s12 m12 l12">
          <div class="card grey darken-3">

            <div class="card-content white-text">
                <div class="row">
                  <h5 class="col s9 card-title">New Campaign</h5>
                  <div class="input-field col s3">
                      <input id="newCampaign" type="text" name="newCampaign" class="validate">
                      <label class="white-text" for="newCampaign">Campaign Name</label>
                  </div>
                </div>

                {% set i = 1 %}
                {% for n in range(0,5) %}

                <div class="row">
                    <div class="input-field col s12">
                        <input id="{{'question'+i|string}}" type="text" name="{{'question'+i|string}}" class="validate">
                        <label for="{{'question'+i|string}}">Question {{ i }}</label>
                    </div>

                    {% set y = 1 %}
                    {% for n in range(0,4) %}
                    <div class="input-field col s3">
                        <input id="{{'question'+i|string+'choice'+y|string}}" type="text" name="{{'question'+i|string+'choice'+y|string}}" class="validate">
                        <label for="{{'question'+i|string+'choice'+y|string}}">Choice {{ y }}</label>
                    </div>
                    {% set y = y + 1 %}
                    {% endfor %}

                    <!--div class="input-field col s3">
                        <input id="{{'question'+i|string+'choiceB'}}" type="text" name="{{'question'+i|string+'choiceB'}}" class="validate">
                        <label for="{{'question'+i|string+'choiceB'}}">Choice B</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="{{'question'+i|string+'choiceC'}}" type="text" name="{{'question'+i|string+'choiceC'}}" class="validate">
                        <label for="{{'question'+i|string+'choiceC'}}">Choice C</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="{{'question'+i|string+'choiceD'}}" type="text" name="{{'question'+i|string+'choiceD'}}" class="validate">
                        <label for="{{'question'+i|string+'choiceD'}}">Choice D</label>
                    </div-->
                </div>

                {% set i = i + 1 %}
                {% endfor %}

                    <center>
                        <div class="container" >
				            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                    </center>


			  </div>
          </div>
        </div>
        </form>
      </div>
      <!--   Data Entry Section   -->

    </div>
  </div>

{% endblock %}
