{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row ">

        <div class="col s12 m12 l12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">

                {%  if detail: %}
              <h5>{{ detail.title }}</h5>
			  <div>
			  	<h5 class="card-title">Summary</h5>
				<p>
					{{ detail.summary }}
                    {{ detail.summary }}
                    {{ detail.summary }}
                    {{ detail.summary }}
				</p>
					<blockquote>
						This is an example quotation that uses the blockquote tag.
					</blockquote>

					<div class="chip">
						{{ detail.tags }}
					</div>
			  </div>

			  	</div>
            		<div class="card-action">
						<div class="chip">
							<img src="http://materializecss.com/images/yuna.jpg" alt="Contact Person">
							{{ detail.user.email }}
						</div>
							<a class="btn-floating waves-effect waves-light green modal-trigger"target="_blank" href="{{ url_for('download', idea_id=detail.id) }}">
                                <i class="material-icons">attach_file</i>
                            </a>
						<span class="new badge blue">100</span>
            		</div>
		  		</div>
			{% endif %}

			<div class="fixed-action-btn" style="top: 60px; right: 24px;">
				<a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="{{ url_for('deleteIdea', idea_id=detail.id) }}"><i class="material-icons">delete</i></a>
				<a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="{{ url_for('editIdea', idea_id=detail.id) }}"><i class="material-icons">border_color</i></a>
			</div>
		  </div>

		  <div class="input-field col s12">
                    <form action="/ideas/comments" method="POST">
                        <i class="material-icons prefix">comment</i>
                        <input type="text" name="comment" type="submit" id="autocomplete-input" class="autocomplete">
						<input type="hidden" value="{{ detail.id }}" name="idea_id">
                        <label for="autocomplete-input">Post Comment</label>
                    </form>
		  </div>

		  {%  if comments: %}

		  <div class="col s12 m12 l12">
          	<ul class="collection">
				{% for comment in comments %}
		      		<li class="collection-item">
                  		<div class="chip">
                    		{{comment.user.email}}
          	      		</div>
                  		{{comment.comment}}
              		</li>
		  		{% endfor %}
        	</ul>
		  </div>

		  {% endif %}

      </div>
</div>

<!--div id="modal1" class="modal">
    <div class="modal-content">
	<form method="post">
		<h4 name="idea_id">Do you want to delete : {{ detail.title }}</h4>
		<div class="modal-footer">
      		<button href="{{ url_for('deleteIdea', idea_id=detail.id) }}" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    	</div>
	</form>
    </div>
</div-->

{% endblock %}