{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="section">

      <!--   Page Content Section   -->
      <div class="row ">
        <div class="col s12 m12 l12">
          <div class="card" style="box-shadow: 0px 0px 0px 0px;">
            <div class="card-content black-text">
                {%  if thread: %}
				<h5>{{ thread.title }}</h5>
				<h5 class="card-title">Description</h5>
				<p>{{ thread.description }}</p>
		  	</div>
			<div class="card-action" style="padding:10px 20px 50px 20px;">
				<div class="container col s9">
					<div class="chip">{{ thread.tags }}</div>
				</div>
				<div class="container col s3" style="padding:5px 0px 0px 0px;">
					<div class="chip">{{ thread.user.email }}</div>
				</div>
			    {% endif %}
			</div>
			  <div class="input-field col s12">
				  <form action="/ideas/comments" method="POST">
					<i class="material-icons prefix">question_answer</i>
					<input type="text" name="comment" type="submit" id="autocomplete-input" class="autocomplete">
					<input type="hidden" value="{{ thread.id }}" name="idea_id">
					<label for="autocomplete-input">Answer</label>
				  </form>
			  </div>

		  {%  if comments: %}
		  <div class="col s12 m12 l12">
          	<ul class="collection">
				{% for comment in comments %}
		      		<li class="collection-item">
                  		<div class="chip">
                    		{{comment.user.email}}
          	      		</div>
                  		{{comment.comment}}
              		</li>
		  		{% endfor %}
        	</ul>
		  </div>
		  {% endif %}
        </div>
      </div>
	  </div>
      <!--   End of Page Content Section   -->
    </div>
</div>

{% endblock %}
