{% extends "layout.html" %}

{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Hello, ESQA!</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern way to Ideation, Collaborate, Share and Build</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='images/bg-01.jpg') }}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 l3">
		<a href="{{ url_for('ideas') }}">
          <div class="icon-block" style="color: rgba(0,0,0,0.87);">
            <h2 class="center brown-text"><i class="material-icons">lightbulb_outline</i></h2>
            <h5 class="center">!deas</h5>
            <p class="light">Share your smart Ideas. Let us Improve and bring the change together for better</p>
          </div>
		  </a>
        </div>

        <div class="col s12 m4 l3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Collaborate</h5>
            <p class="light">Collaborate to create great and smart things that change how we work.</p>
          </div>
        </div>

        <div class="col s12 m4 l3">
          <a href="{{ url_for('tools') }}">
          <div class="icon-block" style="color: rgba(0,0,0,0.87);">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Featured Ideas</h5>
            <p class="light">Ideas that turned into tools by team members. Share your solutions that's being implemented in your project.</p>
          </div>
            </a>
        </div>

		<div class="col s12 m4 l3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">touch_app</i></h2>
            <h5 class="center">Announcements</h5>
            <p class="light">Share and Suggest Idea. Let us Improve gather and bring the change that's better</p>
          </div>
        </div>

      </div>

    </div>
  </div>

{% endblock %}
